<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Start Date: </div>
    <div><%= period.startDate.getMonth() + 1 %>/<%= period.startDate.getDate() %>/<%= period.startDate.getFullYear() %>
    </div>
    <div>End Date: </div>
    <div><%= period.endDate.getMonth() + 1 %>/<%= period.endDate.getDate() %>/<%= period.endDate.getFullYear() %>
    </section>
</main>
<div>
  <a href="/periods/<%= period._id %>/edit">
    <button>Edit Period</button>
  </a>
</div>
<div>
  <% if (period.days.length) { %>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Pain</th>
          <th>Flow</th>
          <th>Mood</th>
        </tr>
      </thead>
      <tbody>
        <% period.days.forEach(function(day) { %>
          <tr>
            <td><%= day.day.getMonth() + 1 %>/<%= day.day.getDate() %>/<%= day.day.getFullYear() %></td>
            <td><%= day.pain %></td>
            <td><%= day.flow %></td>
            <td><%= day.mood %></td>
            <td>
              <a href="/periods/<%= period._id %>/days/<%= day._id %>/edit">
              <button class="btn">Edit Day</button>
            </td>
            <td>
              <form action="/periods/<%= period._id %>/days/<%= day._id %>?_method=DELETE"
                method="POST"
                class="inline"
              >
              <button class="btn" type="submit">Delete Day</button>
              </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Days Added Yet</h3>
  <% } %>
</div>
<div>
  <h2>Add New Day</h2>
  <form id="add-days-form"
  action="/periods/<%= period._id %>/days"
  method="POST"
  >
  <label for="day">Date:</label>
  <input type="datetime-local" name="day" id="day-input">
  <label for="pain-select">Pain (scale of 1 to 5):</label>
  <select name="pain" id="pain-select">
    <option value="1" selected>1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <label for="flow-select">Flow (scale of 1 to 5):</label>
  <select name="flow" id="flow-select">
    <option value="1" selected>1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <label for="mood-textarea">Mood:</label>
  <textarea name="mood" id="mood-textarea"></textarea>
  <button type="submit">Add Day</button>
  </form>
</div>
  
<%- include('../partials/footer') %>